services:
   # 1. SERVER BACKEND (FastAPI)
   api:
      build: .
      image: safety_officer_base # Menyimpan hasil build menjadi image
      container_name: safety_api
      command: uvicorn api.main:app --host 0.0.0.0 --port 8000
      ports:
         - "8000:8000"
      volumes:
         - .:/app
      restart: unless-stopped

   # 2. SERVER FRONTEND (Streamlit)
   frontend:
      image: safety_officer_base # Menggunakan image dari service api tanpa build ulang
      container_name: safety_frontend
      command: streamlit run app.py --server.port 8501 --server.address 0.0.0.0
      ports:
         - "8501:8501"
      environment:
         - API_URL=http://api:8000
      depends_on:
         - api
      volumes:
         - .:/app
      restart: unless-stopped
