services:
   # 1. SERVER BACKEND (FastAPI)
   api:
      build: .
      container_name: safety_api
      command: uvicorn api.main:app --host 0.0.0.0 --port 8000
      ports:
         - "8000:8000"
      volumes:
         - .:/app
      restart: unless-stopped

   # 2. SERVER FRONTEND (Streamlit)
   frontend:
      build: .
      container_name: safety_frontend
      command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0 --server.headless=true --browser.gatherUsageStats=false --server.enableCORS=false --server.enableXsrfProtection=false
      ports:
         - "8501:8501"
      environment:
         - API_URL=http://api:8000
      depends_on:
         - api
      #    - .:/app
      restart: unless-stopped
